public-hoist-pattern[]=*@codemirror/*
public-hoist-pattern[]=*@floating-ui/*
public-hoist-pattern[]=*@formatjs/*
public-hoist-pattern[]=*@dnd-kit/*
public-hoist-pattern[]=*@cyntler/*
strict-peer-dependencies=false

